<!-- your html code here -->
<!-- <p>Hello, I'm the first_heading.html</p> -->
<div class="row mt-5">
    <div class="col-12 col-sm-9">
        <h2>The First Heading <span class="text-secondary">Will Catch Your Eye</span></h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi, minus soluta earum rem accusamus
            molestias quaerat sequi quasi ducimus corrupti blanditiis aliquam laudantium corporis, optio provident a
            quas ullam repellendus?</p>
    </div>
    <div class="col-8 offset-2 col-sm-3 offset-sm-0">
        <img class="rounded-circle img-fluid" src="./assets/img/1.jpg" alt="">
    </div>

</div>