<!-- your html code here -->
<!-- <p>Hello, I'm the navbar.html</p> -->

<!-- <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand text-secondary mb-0 h1">Start Bootstap</span>
    </div>
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
  </nav> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
    <div class="container-fluid">
        <a class="navbar-brand" style="color:rgba(255, 255, 255, 0.5)" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">Services</a>
                <a class="nav-link" href="#">Portfolio</a>
                <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact</a>
            </div>
        </div>
    </div>
</nav>