<!-- your html code here -->
<!-- <p>Hello, I'm the services.html</p>
<p>Hello, I'm the services section and I was loaded using ajax from templates/services.html</p> -->


<div class="row mt-5">
    <div class="col-8 offset-2 col-sm-3 offset-sm-0">
        <img class="rounded-circle img-fluid" src="./assets/img/2.jpg" alt="">
    </div>

    <div class="col-12 col-sm-9">
        <h2>The Second Heading <span class="text-secondary">Is Pretty Cool Too.</span></h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque neque similique perspiciatis incidunt
            numquam. Laudantium sint voluptatibus, quasi itaque, recusandae rerum natus eligendi amet quidem neque
            libero rem. Enim, nobis. Lorem ipsum dolor sit.</p>
    </div>

</div>